@import "./colors.less";

.padded() {
  padding: var(--gutter);
}
.padded-l() {
  padding: calc(2*var(--gutter));
}

.rounded() {
  border-radius: var(--radius);
}
.rounded-l() {
  border-radius: calc(4*var(--radius));
}

.shadow() {
  filter: drop-shadow(2px 4px 6px var(--color-shadow));
}
.hollow() {
  box-shadow: inset 2px 4px 6px var(--color-shadow);
}

.overlay() {
  backdrop-filter: blur(10px) brightness(60%);
  color: var(--color-glamour);
}

.text-elegant() {
  font-size: var(--txt-l);
  letter-spacing: -0.05em;
  font-weight: 300;
}

.sensible {
  p,h2,h3,h4,h5,h6,ul,li {
    margin-top: var(--gutter);
    &:first-child {
      margin-top: 0;
    }
  }
  h2 {
    font-size: var(--txt-l);
    font-weight: bold;
  }
  h3 {
    font-size: var(--txt-m);
    font-weight: bold;
  }

  a {
    color: var(--color-bg-accent);
  }

  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  small {
    font-size: var(--txt-s)
  }

  ul, ol {
    list-style: inherit;
    padding-inline-start: inherit;
  }
}

.primary(@invert: false) {
  --color-bg: if(@invert = true, var(--color-text-primary), var(--color-bg-primary));
  --color-text: if(@invert = true, var(--color-bg-primary), var(--color-text-primary));
  background: var(--color-bg);
  color: var(--color-text);
}
.secondary(@invert: false) {
  --color-bg: if(@invert = true, var(--color-text-secondary), var(--color-bg-secondary));
  --color-text: if(@invert = true, var(--color-bg-secondary), var(--color-text-secondary));
  background: var(--color-bg);
  color: var(--color-text);
}

.accent(@invert: false) {
  --color-bg: if(@invert = true, var(--color-text-accent), var(--color-bg-accent));
  --color-text: if(@invert = true, var(--color-bg-accent), var(--color-text-accent));
  background: var(--color-bg);
  color: var(--color-text);
}

.vignette () {
  position: relative;
  line-height: 0;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 50%, red 150%);
    mix-blend-mode: difference;
  }
}

.button() {
  border: none;
  padding: .3em .5em;
  border-radius: var(--radius);
  font-size: var(--txt-s);
  display: inline-block;
  font-family: inherit;
  text-align: center;
  user-select: none;
  font-weight: normal;
  letter-spacing: initial;
  word-spacing: initial;
  line-height: initial;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;

  &[disabled] {
    background: transparent;
    background: var(--color-bg-disabled);
    border-color: var(--color-text-disabled);
    color: var(--color-text-disabled);
    cursor: not-allowed;
  }
  
  transition: all 80ms ease-out;
}
