.padded() {
  padding: var(--gutter);
}
.padded-l() {
  padding: calc(2*var(--gutter));
}

.rounded() {
  border-radius: var(--radius);
}
.rounded-l() {
  border-radius: calc(4*var(--radius));
}

.shadow() {
  filter: drop-shadow(2px 4px 6px var(--color-shadow));
}

.sensible {
  p,h2,h3,h4,h5,h6,ul,li {
    margin-top: var(--gutter);
    &:first-child {
      margin-top: 0;
    }
  }
  h2 {
    font-size: var(--txt-l);
    font-weight: bold;
  }
  h3 {
    font-size: var(--txt-m);
    font-weight: bold;
  }

  a {
    color: var(--color-accent);
  }

  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
}

.primary() {
  --color-bg: var(--color-bg-primary);
  --color-text: var(--color-text-primary);
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
}
.secondary() {
  --color-bg: var(--color-bg-secondary);
  --color-text: var(--color-text-secondary);
  background: var(--color-bg-secondary);
  color: var(--color-text-secondary);
}

.accent() {
  --color-bg: var(--color-bg-accent);
  --color-text: var(--color-text-accent);
  background: var(--color-bg-accent);
  color: var(--color-text-accent);
}

.vignette () {
  position: relative;
  line-height: 0;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 50%, red 150%);
    mix-blend-mode: difference;
  }
}

.button() {
  border: none;
  padding: .3em .5em;
  border-radius: var(--radius);
  font-size: var(--txt-s);
  display: inline-block;
  font-family: inherit;
  text-align: center;
  user-select: none;
  font-weight:regular;
  letter-spacing: initial;
  word-spacing: initial;
  line-height: initial;
  text-decoration: none;
}
