@import 'mixin.less';

& > .description {
  .sensible();
  .header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: inherit;
      font-weight: bold;
      font-size: var(--txt-l);
      padding: .5em 1em .5em 0;
      &:last-child {
        padding: .5em 0 .5em 1em;
      }
    }
    .padded();
    .region {
      letter-spacing: -0.05em;
      font-size: var(--txt-xl);
      font-weight: 300;
      text-align: center;
      height: 1.7em;
    }
  }
  .nom {
    .padded();
    margin: 0 var(--gutter);
    font-weight: 400;
    font-size: var(--txt-l);
    border-bottom: 3px solid var(--color-bg-accent);
  }

  .bio {
    .padded();
  }

}

& > .photos {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;

  .carousel {
    height: 100%;
    width: 100%;
  }

  .picture {
    width: var(--max-width);
    aspect-ratio: 2/3;

    &[title="MaillotAssis"] {
      object-fit: scale-down;
      transform: scale(230%) translateX(-10%);
      position: relative;

      &:is(.auvergne *) { left: 12% }
      &:is(.bourgogne *) { left: -10% }
      &:is(.champagne-ardenne *) { left: -12% }
      &:is(.corse *) { left: -14% }
      &:is(.cote-d-azur *) { left: -6% }
      &:is(.guadeloupe *) { left: 12% }
      &:is(.languedoc *) { left: -12% }
      &:is(.limousin *) { left: 6% }
      &:is(.lorraine *) { left: -12% }
      &:is(.martinique *) { left: -12% }
      &:is(.normandie *) { left: -3% }
      &:is(.nouvelle-caledonie *) { left: -4% }
      &:is(.pays-de-la-loire *) { left: -12% }
      &:is(.picardie *) { left: -6% }
      &:is(.provence *) { left: -12% }
      &:is(.saint-martin-saint-barthelemy *) { left: -20% }
      &:is(.tahiti *) { left: -6% }
    }
  }
}


