{{page-title "Juger"}}
<form class="add-comment" action="">
  <textarea id="comment" name="comment" cols="40" rows="8">Mon super commentaire vraiment très intelligent.</textarea>
  <fieldset class="controls">
    <a class="back" href="javascript:history.back()">&times; annuler</a>
    <input type="submit" value="&plus; enregistrer" />
  </fieldset>
</form>
