<menu>
  <li>
    <LinkTo class="miss" @route="miss">Les<br>Miss</LinkTo>
  </li>
  <li>
    <LinkTo class="judges" @route="judges">Les<br>Juges</LinkTo>
  </li>
  <li>
    <LinkTo class="profile" @route="profile">
      Mon<br>Profil
    </LinkTo>
  </li>
  <li>
    {{#if @model.isDone}}
    <LinkTo class="top" @route="miss.top.index">
      Le<br>Top
    </LinkTo>
    {{/if}}
  </li>
</menu>
