<span 
  {{style-namespace 'fav-toggle'}} 
  title={{@names}}
  ...attributes
>
  <span class="count">{{if @count @count}}</span>
  {{#if @active}}
    &#x2605;
  {{else}}
    &#x2606;
  {{/if}}
</span>
