@import 'mixin.less';

& {
  padding:var(--gutter);


  .header {
    .sensible();
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: 0 var(--gutter);
    align-items: start;

    progress {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-sizing: border-box;
      .rounded();

      overflow: hidden;
      background: none;
      background: var(--color-text-secondary);
      border: none;

      &::-webkit-progress-bar {
        background: none;
        border: none;
      }
      &::-webkit-progress-value {
        .progress-value();
      }
      &::-moz-progress-bar {
        .progress-value();
      }

      .progress-value () {
        background: none;
        background-color: var(--color-bg-secondary);
        .shadow();
      }

    }

    legend {
      grid-column: 2;
    }

    margin-bottom: 1em;
  }

}
