@import 'mixin.less';

& {
  padding:var(--gutter);


  .header {
    .sensible();
    display: grid;
    grid-gap: 0 var(--gutter);
    grid-template-columns: auto 1fr;

    progress {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-sizing: border-box;
      .rounded();

      overflow: hidden;
      background: none;
      background: var(--color-text-secondary);
      border: none;

      &::-webkit-progress-bar {
        background: none;
        border: none;
      }
      &::-webkit-progress-value {
        .progress-value();
      }
      &::-moz-progress-bar {
        .progress-value();
      }

      .progress-value () {
        background: none;
        background-color: var(--color-bg-secondary);
        .shadow();
      }

    }
    legend {
      grid-column: 2;
    }

    margin-bottom: 1em;
  }

  .misses {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    @media (orientation: landscape) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 23rem) {
      grid-template-columns: 1fr 1fr;
    }
    grid-gap: var(--gutter);

    > li { }
  }
}
