@import 'mixin.less';

& {
  margin: 0;
  padding: 0;
  position: relative;

  > .meter {
    display: block;
    position: absolute;
    top: 1em;
    left: 1em;
    padding: .5em;
    .overlay();
    .rounded-l();
    font-size: var(--txt-s);
  }

  .carousel-wrapper {
    font-size: 0;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    > :not(.control) {
      height: 100%;
      display: inline-block;
      scroll-snap-align: center;
    }
  }
}
