<div class="comment own">
  <LinkTo @route="miss.profile.judge">
    <blockquote>
      {{sanitize-html (markdown @model.comment)}}
    </blockquote>
    <figcaption>
      <span class="mention" title={{mention-label @model.mention}}>{{mention-emoji @model.mention}}</span>
      <span class="author">Moi</span>
    </figcaption>
  </LinkTo>
</div>
