{{page-title "👸 Miss France Ultimate 2023"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}

  <header>
    <h1><LinkTo @route="index">👸 MFU 2023</LinkTo></h1>
    <!--<LinkTo @route="settings" class="settings" title="Paramètres">&#x2699;</LinkTo> -->
  </header>
  <main>
<div class={{this.routeStyleNamespaceClassSet}}>
    {{outlet}}
</div>
  </main>
  <footer>
    Made with 💜 by Floby
  </footer>
