{{page-title "👸 Miss France Ultimate 2023"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}

  <header>
    <h1><LinkTo @route="index">👸 MFU 2023</LinkTo></h1>
    {{#if this.auth.isAuthenticated}}
      <LinkTo rel="profile" @route="profile" class="profile" title="Profil du juge">
        <img src={{this.auth.userInfo.picture}} alt="Aller vers la page de profil" role="link">
      </LinkTo>
    {{/if}}
  </header>
  <main>
<div class={{this.routeStyleNamespaceClassSet}}>
    {{outlet}}
</div>
  </main>
  <footer>
    Made with 💜 by floby
  </footer>
